@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #002b55;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 536px;
  margin: auto;
  position: relative;
}

.error {
  color: red;
}

.copy-input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}
