html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #455a64;
}

h1 {
  font-weight: 200;
  margin: 0;
  padding: 2.8rem 0 1.68rem 0;
}

section {
  max-width: 713px;
  margin: auto;
}

.closeable {
  cursor: pointer;
}

.close-notification {
  cursor: pointer;
  font-size: x-small;
  vertical-align: top;
}

.tinyfy-form {
  display: flex;
  align-items: center;
}

.row .tinyfy-form-input {
  padding-left: 0;
}

.tiny-url-list {
  list-style: none;
}

.tiny-url-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.tiny-url-list-original-link {
  flex-grow: 1;
  text-overflow: ellipsis;
  margin-right: 0.75rem;
}

.tiny-url-list-tiny-group {
  white-space: nowrap;
}

.tiny-url-list-copy-button {
  margin-left: 0.75rem;
  width: 85px;
}

.tinyfy-error {
  color: #f44336;
}

.copy-input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

.tiny-url-list .tiny-url-list-item .tiny-url-list-tiny-group .copy-success {
  background-color: #c5e1a5 !important;
}

.tiny-url-list .tiny-url-list-item .tiny-url-list-tiny-group .copy-fail {
  background-color: #ef9a9a !important;
}

.cookie-consent {
  display: flex;
  align-items: center;
  max-width: 713px;
}

.cookie-consent-button {
  margin-left: 1.75rem;
  min-width: 5rem;
}

@media (max-width: 727px) {
  .cookie-consent,
  section {
    margin: 0 7px;
  }
}

@media (max-width: 650px) {
  .tiny-url-list-item {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    box-shadow: 0px 1px #eceff1;
    padding-bottom: 1rem;
  }

  .tiny-url-list-tiny-group {
    align-self: flex-end;
  }
}
